/***
FILTER STYLE
***/

.filter-container{
	background-color:#555;
	color:#FFF;
}

.filter{
	background-color:#555;
	color:#FFF;
	top:50px;
	bottom:0;
	left:0;
}

.filter.open{
	overflow-y:auto;
}

.filter-content{
	display:none;
}

.filter.open .filter-content{
	margin:auto -16px;
	border-left:0;
	border-right:0;
}

.filter-content .panel{
	margin-top:1px !important;
}

.filter-content .panel-default{
	background:#555;
	box-shadow:none;
	border:0;
	border-radius:0;
}
.filter-content .panel-body{
	border:0 !important;
	padding:0 15px;
}

.filter-content .panel-body .form-group{
	margin-bottom:0;
}

.filter-content .panel-heading{
	background:#888;
	border:0;
}
.filter-content .panel-title{
	color: #FFF;
	font: 1.4rem "Open Sans";
	text-transform: uppercase;
	font-weight: 900;
}

.closed{	
	width:40px;
	z-index:1000; /*apparently, this is needed*/
}

.open{
	padding:15px;
	padding-top:0;
}

.filter-btn{	
	cursor:pointer;
	background:#888;
	text-align:center;
	padding:10px 0 5px 0;
}

.open .filter-btn{
	width:40px;
	float:left;
	margin-left: -15px;
}

.filter-btn:hover{
	background:#777;
}
.closed .filter-label label, .open .filter-label label{
	cursor:pointer;
	text-transform: uppercase;
	font-family:"Open Sans";
	font-weight:700;
}

.closed label{
	padding:10px;
	padding-bottom:4px;
}

.closed .filter-label{
	/*this is a better and more efficient way of displaying the label rotated 
	  but needs to be tested cross-browser and for back compatability */
  /* Safari, Chrome*/
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	
	position: absolute;
	top: 52px;
	left: -17px;
}

.closed .filter-label:hover{
	background:#444;
}

.open .filter-label{
	display:block;
	margin-bottom:2px;
	padding-left:45px;
	padding-top:9px;	
	padding-bottom: 0px;
	margin-left: -15px;
	margin-right: -15px;
}